<template name="adminAccountsInvitation">
	<div class="setup">
		<h2>Create an Account</h2>
		{{# if error }}
			<div class="alert alert-danger">
				{{ error }}
			</div>
			<br>
		{{ else }}
			<p>
				<label class="label label-primary">invitation: {{ getInvitation }}</label>
			</p>
			<br>
		{{/ if }}

		<form>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" placeholder="Email" name="email" type="email">
			</div>
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" placeholder="Name" name="name" type="text">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" placeholder="Password" name="password" type="password">
			</div>
			<div class="form-group">
				<label>Password (again)</label>
				<input class="form-control" placeholder="Password (again)" name="password-confirm" type="password">
			</div>
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-block btn-lg">Register</button>
			</div>
		</form>
	</div>
</template>
<template name="adminAccountsLogin">
	{{# Layout template="outAdminLayout" }}
		<div class="login">
			{{#unless hide}}
				{{#if showTitle}}
					<h2>{{title}}</h2>
				{{/if}}
				{{#if showOauthServices}}
					{{> atOauth}}
				{{/if}}
				{{#if showServicesSeparator}}
					{{> atSep}}
				{{/if}}
				{{#if showError}}
					{{> atError}}
				{{/if}}
				{{#if showResult}}
					{{> atResult}}
				{{/if}}
				{{#if showPwdForm}}
					<div class="at-pwd-form">
						<form role="form" id="at-pwd-form" novalidate action="#" method="POST">
							<fieldset {{disabled}}>
								{{#each fields}}
									{{> atInput}}
								{{/each}}
								{{#if showForgotPasswordLink}}
									{{> atPwdLink}}
								{{/if}}
								<button type="submit" class="at-btn submit btn btn-lg btn-block btn-primary {{submitDisabled}}" id="at-btn">
									{{buttonText}}
								</button>
							</fieldset>
						</form>
					</div>
				{{/if}}
				{{#if showSignInLink}}
					{{> atSigninLink}}
				{{/if}}
				{{#if showSignUpLink}}
					{{> atSignupLink}}
				{{/if}}
				{{#if showTermsLink}}
					{{> atTermsLink}}
				{{/if}}
			{{/unless}}
		</div>
	{{/ Layout}}
</template>
<template name="adminAccountsSetup">
	<div class="setup">
		<h2>Create an Account</h2>
		
		{{# if error }}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{{/ if }}
		<br>

		<form>
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" placeholder="Email" name="email" type="email">
			</div>
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" placeholder="Name" name="name" type="text">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" placeholder="Password" name="password" type="password">
			</div>
			<div class="form-group">
				<label>Password (again)</label>
				<input class="form-control" placeholder="Password (again)" name="password-confirm" type="password">
			</div>
			<br>
			<div class="form-group">
				<button class="btn btn-primary btn-block btn-lg">Register</button>
			</div>
		</form>
		<p class="help-block">This will be the admin account</p>
	</div>
</template>