<template name="adminConfigPassword">
	{{#unless hide}}
		<div>
			<div class="admin-top-nav">
				<div class="dictionary-categories pull-right">
					<span class="label {{# if isActiveRoute regex='atChangePwd' }}label-primary{{ else }}label-default{{/ if }}"><a href="{{ pathFor 'atChangePwd' }}">password</a></span>
					{{# if doIHavePermission 'admin' }}
						{{# each allCategories }}
							<span class="label {{ isActiveCategory }}"><a href="{{ pathFor 'adminConfigUpdate' configCategory=this }}">{{ this }}</a></span>
						{{/ each }}
					{{/ if }}
				</div>
				<span class="title">Configuration</span>
			</div>
			<div class="admin-content admin-content-less-padding">
				{{#if showOauthServices}}
					{{> atOauth}}
				{{/if}}
				{{#if showServicesSeparator}}
					{{> atSep}}
				{{/if}}
				{{#if showError}}
					<div class="col-lg-7 col-md-8 col-sm-9 col-sm-offset-3">
						{{> atError}}
					</div>
				{{/if}}
				{{#if showResult}}
					{{> atResult}}
				{{/if}}
				{{#if showPwdForm}}
					<div class="at-pwd-form">
						<form class="form-horizontal" role="form" id="at-pwd-form" novalidate action="#" method="POST">
							{{#each fields}}
								{{> adminConfigPasswordInput}}
							{{/each}}
							{{#if showForgotPasswordLink}}
								{{> atPwdLink}}
							{{/if}}

							<div class="form-group">
								<div class="col-sm-3"></div>
								<div class="col-lg-7 col-md-8 col-sm-9 input-container">
									<button type="submit" class="at-btn submit btn btn-primary {{submitDisabled}}" id="at-btn">
										{{buttonText}}
									</button>
								</div>
							</div>
						</form>
					</div>
				{{/if}}
				{{#if showSignInLink}}
					{{> atSigninLink}}
				{{/if}}
				{{#if showSignUpLink}}
					{{> atSignupLink}}
				{{/if}}
				{{#if showTermsLink}}
					{{> atTermsLink}}
				{{/if}}
			</div>
		</div>
	{{/unless}}
</template>

<template name="adminConfigPasswordInput">
	<div class="at-input form-group {{#if isValidating}}validating{{/if}} {{#if hasError}}has-error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
		<label class="col-sm-3 control-label {{#unless showLabels}}sr-only{{/unless}}" for="at-field-{{_id}}">
			{{displayName}}
			{{#unless required}}{{optionalText}}{{/unless}}
		</label>
		<div class="col-lg-7 col-md-8 col-sm-9 input-container">
			<input type="{{type}}" class="form-control" id="at-field-{{_id}}" name="at-field-{{_id}}" autocapitalize="none" autocorrect="off">
			{{#if hasIcon}}
				<span class="{{iconClass}} form-control-feedback"></span>
			{{/if}}
			<span class="help-block">{{errorText}}</span>
		</div>
	</div>
</template>

<template name="adminConfigUpdate">
	<div class="admin-top-nav">
		<div class="dictionary-categories pull-right">
			<span class="label {{# if isActiveRoute regex='atChangePwd' }}label-primary{{ else }}label-default{{/ if }}"><a href="{{ pathFor 'atChangePwd' }}">password</a></span>
			{{# if doIHavePermission 'admin' }}
				{{# each allCategories }}
					<span class="label {{ isActiveCategory }}"><a href="{{ pathFor 'adminConfigUpdate' configCategory=this }}">{{ this }}</a></span>
				{{/ each }}
			{{/ if }}
		</div>
		<span class="title">Configuration</span>
	</div>
	<div class="admin-content">
		{{> quickForm buttonContent="Save" collection="orion.config.collection" id="adminConfigUpdate" type="update" doc=getDoc fields=fields template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-lg-7 col-md-8 col-sm-9 input-container" }}
	</div>
</template>