<template name="adminLayout">
	<div id="orion-admin">
		<div class="orion-admin-panel clearfix">
			{{# if currentUser }}
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<div class="sidebar">
								{{> adminSidebar }}
							</div>
						</div>
						<div class="col-md-10 col-sm-9">
							<div class="orion-layout">
								{{> yield }}
							</div>
						</div>
					</div>
				</div>
			{{ else }}
				{{> yield }}
			{{/ if }}
		</div>
	</div>
	<style type="text/css">
	html,
	body {
		margin: 0px;
		height: 100%;
		-webkit-overflow-scrolling: touch;
	}
	</style>
	<meta name="viewport" content="width=device-width,minimal-ui,initial-scale=1,maximum-scale=1.0,user-scalable=no">
</template>