<template name="adminEntitiesDelete">
	<div class="admin-top-nav">
		<span class="title">Delete {{ entity.options.singularName }}</span>
	</div>
	<div class="admin-content">
		<p>Are you sure you want to delete this {{ entity.options.singularName }}?</p>
		<a href="{{ pathFor 'adminEntitiesUpdate' _id=item._id entity=entity.name }}" class="btn btn-default">Cancel</a>
		{{# quickRemoveButton collection=entity.collection _id=item._id onSuccess=onSuccess class="btn btn-danger" }}
			Confirm
		{{/ quickRemoveButton }}
	</div>
</template>