<template name="adminPagesCreate">
	<div class="admin-top-nav">
		<span class="title">
			{{# if choosenTemplate }}
				Create a new page - {{ choosenTemplate.name }}
				{{ else }}
				Choose a template
			{{/ if }}
		</span>
	</div>
	<div class="admin-content">
		{{# if choosenTemplate }}
			{{> quickForm collection="orion.pages.collection" schema=choosenTemplate.schema id="adminPagesCreateForm" type="insert"  buttonContent=false }}
			<br>
			<button id="cancel-btn" class="btn btn-default">Back</button>
			<button id="submit-btn" class="btn btn-primary">Create</button>
		{{ else }}
			<p>
				<a href="{{ pathFor 'adminPagesIndex' }}">Back</a>
			</p>
			{{# each templates }}
				<div class="row">
					<div class="col-sm-12">
						<h4>{{ name }}</h4>
						<p>{{ description }}</p>
						<p>
							<button class="btn btn-primary btn-xs template-choose">
								Choose
							</button>
						</p>
					</div>
				</div>
			{{/ each }}
		{{/ if }}
	</div>
</template>