<template name="adminUsersIndex">
	<div class="admin-top-nav">
		<span class="title">
			Users
			<a href="{{ pathFor 'adminUsersCreate' }}" class="btn btn-primary btn-sm pull-right">Create</a>
		</span>
	</div>
	<div class="admin-content">
		{{# each this }}
			{{> adminUsersIndexUser }}
		{{/ each }}
		
	</div>
</template>

<template name="adminUsersIndexUser">
	<div class="adminUsersIndexUser">
		<p>
			<b>{{ profile.name }}</b>
		</p>
		{{# if getError }}
			<div class="alert alert-danger" style="display: inline-block;">
				<b>{{ getError.error }}</b>
				{{ getError.reason }}
			</div>
		{{/ if }}
		{{# if getResponse }}
			<div class="alert alert-success" style="display: inline-block;">
				{{ getResponse }}
			</div>
		{{/ if }}
		{{# each emails }}
			<p>
				{{ address }}
			</p>
		{{/ each }}
		<p>
			{{# if itsMe }}
				<span class="label label-primary">Me</span>
			{{ else }}
				<a href="{{ pathFor 'adminUsersDelete' }}" class="btn btn-danger btn-xs">
					Delete
				</a>
				<a href="{{ pathFor 'adminUsersEdit' }}" class="btn btn-primary btn-xs">
					Permissions
				</a>
			{{/ if }}
			{{# each actions }}
				{{# if forAdmins }}
					{{# if isAdmin }}
						{{> adminUsersIndexUserAction }}
					{{/ if }}
				{{/ if }}
				{{# if forUsers }}
					{{# unless isAdmin }}
						{{> adminUsersIndexUserAction }}
					{{/ unless }}
				{{/ if }}
			{{/ each }}
			
		</p>
	</div>
	<br>
</template>

<template name="adminUsersIndexUserAction">
	<button class="btn btn-xs {{ btnClass }}">
		{{ title }}
	</button>
</template>