<template name="adminPagesIndex">
	<div class="admin-top-nav">
		<a href="{{ pathFor 'adminPagesCreate' }}" class="btn btn-primary btn-sm pull-right">Create</a>
		<span class="title">Pages</span>
	</div>
	<div class="admin-content">
		{{# if pages }}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Url</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{{# each pages }}
						<tr class="page-row">
							<td><b>{{ title }}</b></td>
							<td>
								<a href="{{ path }}">{{ path }}</a>
							</td>
							<td>
								<a class="btn btn-default btn-xs" href="{{ pathFor 'adminPagesUpdate' }}">Edit</a>
								<a class="btn btn-default btn-xs" href="{{ pathFor 'adminPagesDelete' }}">Delete</a>
							</td>
						</tr>
					{{/ each }}
				</tbody>
			</table>
		{{ else }}
			<p>
				<i>
					You don't have any pages. 
					<a href="{{ pathFor 'adminPagesCreate' }}">Create</a>
				</i>
			</p>
		{{/ if }}
	</div>
</template>