<template name="adminConfigUpdate">
	<div class="admin-top-nav">
		<div class="dictionary-categories pull-right">
			<span class="label {{# if isActiveRoute regex='atChangePwd' }}label-primary{{ else }}label-default{{/ if }}"><a href="{{ pathFor 'atChangePwd' }}">password</a></span>
			{{# if doIHavePermission 'admin' }}
				{{# each allCategories }}
					<span class="label {{ isActiveCategory }}"><a href="{{ pathFor 'adminConfigUpdate' configCategory=this }}">{{ this }}</a></span>
				{{/ each }}
			{{/ if }}
		</div>
		<span class="title">Configuration</span>
	</div>
	<div class="admin-content">
		{{> quickForm buttonContent="Save" collection="orion.config.collection" id="adminConfigUpdate" type="update" doc=getDoc fields=fields template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-lg-7 col-md-8 col-sm-9 input-container" }}
	</div>
</template>