<template name="adminSidebar">
	<ul class="fa-ul">
        {{# if doIHavePermission 'dictionary' }}
            <li class="{{ isActiveRoute regex='adminDictionary' }}">
                <a href="{{ pathFor 'adminDictionaryUpdate' }}">
                    <i class="fa fa-li fa-book"></i>
                    <span class="text">Dictionary</span>
                </a>
            </li>
        {{/ if }}

        {{# each getEntities }}
            {{# if doIHavePermission getPermissionForEntity }}
    			<li class="{{ isActivePath regex=getPath }}">
                	<a href="{{ pathFor 'adminEntitiesIndex' entity=name }}">
                        <i class="fa fa-li fa-{{ options.icon }}"></i>
                        <span class="text">{{ options.sidebarName }}</span>
                    </a>
            	</li>
            {{/ if }}
		{{/ each }}

        {{# each sidebarTabs }}
            {{# if doIHavePermission permission }}
                <li class="{{ isActiveRoute regex=activeRouteRegex }}">
                    <a href="{{ pathFor routeName }}">
                        <i class="fa fa-li fa-{{ icon }}"></i>
                        <span class="text">{{ navbarTitle }}</span>
                    </a>
                </li>
            {{/ if }}
        {{/ each }}
       
        {{# if doIHavePermission 'admin' }}
            <li class="{{ isActiveRoute regex='adminUsers' }}">
                <a href="{{ pathFor 'adminUsersIndex' }}">
                    <i class="fa fa-li fa-users"></i>
                    <span class="text">Users</span>
                </a>
            </li>
        {{/ if }}
        <li class="{{ isActiveRoute regex='adminConfig' }}{{ isActiveRoute regex='changePwd' }}">
            <a href="{{ pathFor 'atChangePwd' }}">
                <i class="fa fa-li fa-cog"></i>
                <span class="text">Config</span>
            </a>
        </li>
        <li>
            <a id="logout-btn" href="#">
                <i class="fa fa-li fa-power-off"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
	
</template>