<template name="accountsFormTemplate">
	{{#if showTitle}}
		{{> accountsFormTemplateTitle}}
		<hr>
	{{/if}}
	<div>
		{{#if showOauthServices}}
			{{> atOauth}}
		{{/if}}
		{{#if showServicesSeparator}}
			{{> atSep}}
		{{/if}}
		{{#if showError}}
			{{> atError}}
		{{/if}}
		{{#if showResult}}
			{{> atResult}}
		{{/if}}
		{{#if showPwdForm}}
			{{> atPwdForm}}
		{{/if}}
		{{#if showSignInLink}}
			{{> atSigninLink}}
		{{/if}}
		{{#if showSignUpLink}}
			{{> atSignupLink}}
		{{/if}}
		{{#if showTermsLink}}
			{{> atTermsLink}}
		{{/if}}
	</div>
</template>

<template name="accountsFormTemplateTitle">
	<h3>{{title}}</h3>
</template>