<template name="adminLayout">
	<!--[if lt IE 9]>
	<p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div id="cms-admin">
		{{> adminHeader }}
		{{# if currentUser }}
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<nav class="nav-sidebar">
							{{> adminSidebar }}
						</nav>
					</div>
					<div class="col-sm-9 col-md-8">
						{{> yield }}
					</div>
				</div>
			</div>
		{{ else }}
			{{> yield }}
		{{/ if }}
		{{> adminFooter }}
	</div>
</template>